.m-section {
    height: 800px;
}
.m-section:nth-of-type(1) {
    background: #ffa055;
}
.m-section:nth-of-type(2) {
    background: #f1a0dd;
}
.m-section:nth-of-type(3) {
    background: #00a055;
}
.m-section:nth-of-type(4) {
    background: #ff0055;
}
.g-nav {
    position: fixed;
    right: 50px;
    top: 0;
    bottom: 0;
    z-index: 2;
    margin: auto;
    width: 10px;
    height: 100px;
}
.g-nav li {
    display: block;
    width: 10px;
    height: 10px;
    margin-top: 20px;
    transform-origin: center;
    transition: .3s;
    border-radius: 50%;
    background: #eee;
}
.g-nav li:first-of-type {
    margin: 0;
}
.g-nav li.active {
    transform: scale(1.4);
    background: lightskyblue;
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
}
.g-nav li:hover {
    background: lightskyblue;
}
.g-nav li a {
    display: block;
    height: 100%;
}